.AboutUs .AboutHeader img {
  height: 100%;
  width: 100%;
}
.AboutUs .AbtUsContainer {
  display: flex;
  flex-direction: row;
  margin: 100px;
}
.AboutUs .ExploreImg img {
  height: 50vh;
  width: 35vw;
  transform: scale(1.2);
}
.AboutUs .ExploreImg {
  margin-left: 5rem;
}
.AboutUs h3 {
  color: var(--base-color);
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
  text-decoration: underline;
  text-decoration-color: var(--red);
}
.AboutUs p {
  color: var(--base-color);
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  width: 80%;
}
.AboutUs h2 {
  color: #110729;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-family: "Lato", Sans-serif;
  font-size: 51px;
  font-weight: 800;
  line-height: 60px;
}
.AboutUs .trekspan {
  color: var(--red);
  font-family: "Lato", Sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.AboutUs .AbtUs {
  height: 70vh;
  width: 50vw;
}
.AboutUs .WhyUs {
  text-align: center;
}

.AboutUs .WhyUs h2 {
  color: var(--base-color);
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 30;
  margin-bottom: 30px;
}

.AboutUs .WhyUs span {
  color: var(--red);
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
}

.AboutUs .WhyUs .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--red);
  border-radius: 50%;
  margin-bottom: 10px;
}

.AboutUs .WhyUs .icon {
  font-size: 3.4rem;
  margin-top: 10px;
  color: #fff;
  border-radius: 50px;
  padding: 20px 30px;
}
.AboutUs .WhyUs .purpose {
  color: #4a4a4a;
  font-size: 14px;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}
.AboutUs .WhyUs .title {
  color: var(--base-color);
  margin-bottom: 20px;
  font-weight: 600;
}

.AboutUs .WhyUs .cards {
  display: flex;
  flex-direction: row;
  margin: 0 100px 60px;
  align-items: center;
  justify-content: space-between;
}
.AboutUs .CardSec {
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.15);
  margin: 10px;
  text-align: center;
  width: 24rem;
  height: 25rem;
  padding: 1rem;
}

.AboutUs .ImgGallery {
  display: flex;
  flex-direction: row;
}
.AboutUs .images {
  transition: transform 0.25s, visibility 0.25s ease-in;
}
.AboutUs .images:hover {
  transform: scaleY(1.5);
  transform: scaleX(1.8);
}
.AboutUs .FounderCards {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: row;
}
.AboutUs .FounderCards .FounderImg img {
  margin-left: 15vw;
  height: 45vh;
  width: 33vw;
}
.AboutUs .FounderInfo {
  margin-left: 3rem;
}
.AboutUs .FounderInfo .foundersc{
  float: right;
  margin: -17px 0 -1px 0;
}
.AboutUs .ChefCards {
  margin: 9rem 16rem;
  display: flex;
  flex-direction: row-reverse;
}
.AboutUs .ChefCards .ChefImg img {
  margin-left: 5vw;
  height: 50vh;
  width: 28vw;
}

@media only screen and (max-width: 500px) {
  .AboutUs .AboutHeader img {
    height: 40vh;
  }
  .AboutUs .AbtUsContainer {
    flex-direction: column;
    margin: 20px;
  }
  .AboutUs h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
  }
  .AboutUs .trekspan {
    font-size: 37px;
  }
  .AboutUs p {
    line-height: 27px;
    width: 100%;
  }
  .AboutUs .ExploreImg {
    margin: 20px 0;
  }
  .AboutUs .ExploreImg img {
    height: 50vh;
    width: 100%;
    transform: scale(1);
  }
  .AboutUs .WhyUs h2 {
    font-size: 35px;
  }
  .AboutUs .WhyUs .cards {
    margin: 10px;
    flex-direction: column;
  }
  .AboutUs .FounderCards{
    flex-direction: column;
  } 
  .AboutUs .FounderCards .FounderImg img{
    width: 100%;
    margin: 0 0 10px;
    border-radius: 30px;
  }
  .AboutUs .FounderInfo{
    margin: 0;
  }
  .AboutUs .ChefCards{
    margin: 10px;
    flex-direction: column;
  }
  .AboutUs .ChefCards .ChefImg img{
    margin: 0;
    width: 100%;
    border-radius: 30px;
  }
}
